.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.ingredients_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  overflow: auto;
}

.burger_sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: initial;
  padding: 24px 16px 40px;
}
