.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.sections_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  overflow: auto;
}
