.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  overflow: hidden;
  background:
    linear-gradient(#1a1a2e, #1a1a2e) padding-box,
    linear-gradient(45deg, #801ab2, #4c4cff) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

.image {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 60%);
}
